
.font{
    position: relative;
    top: 39%;
}
.first_font{
    position: relative;
    top: 25%;
}

.second_font{
    position: relative; ;
    top: 25%;
}

.third_font{
    position: relative; ;
    top: 45%;
    
}

@media (max-width: 381px){
    .font{
        position: relative;
        top: 15%;
    }
}